body {
      font-size: 12px;
      font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
      margin:0px;
      text-align: center;
      background-image: url("bookpile.jpg");
}

#content { 	
    text-align: left;
    vertical-align: middle;	
    margin: 0px auto;
    margin-top: 10px;
    padding: 0px;
    width: 800px;
}

#actual-table { 
    border-collapse: collapse; 
}

#actual-table td {  
    padding-right: 10px; 
    vertical-align: top;
}

#actual-table td:nth-child(even) { 
    width: 600px;
    background: #ccc;
}

#actual-table td:nth-child(odd) { 
    width: 200px;
    background: #eee;
}

#StationName{
    background: #EEE8AA;
    width: 100%;
    text-align: center;
    overflow:hidden;
}

#StationName button{
    float: right;
}

#StationName span{
    font-size: 18px;
    margin-right: 150px;
}

#BannerName{
    text-align: left;
    font:italic bold 24px Palatino, serif;
}

#banner-table {
    border-collapse: collapse; 
    width: 100%;
}	

#banner-table tr:nth-child(odd) { 
    background: #EEE8AA;
}

#banner-table tr:nth-child(even) { 
    background: #D0D0D0;
}

#banner-table td:nth-child(odd) { 
    width: 45%;
}

#NewStation{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}

#Voting{
    font-size: 20px;
    text-align: left;
}

#BookInfo{
    font-size: 15px;
    text-align: center;
}

#BookTitle{
    font-style: italic;
}

#Author{
    font-size: 12px;
}

#BookContent { 	
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
    width: 565px;
    height: 375px;
    background-color: #ffffff;
    border-style:none;
    border-width:1px;     
    overflow: hidden;
}

#BookContent p {
    font-size: 14px;
    font-family: Times New Roman;
}

/*
#BookContent:hover{
    overflow-y:scroll;
}
*/

#DownloadLinkTitle{
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#links{
    margin-left: 30px;
}

#contentColumn{
    width: 650px;
    height: 500px;
    overflow: auto;
}

#DownloadLinks a{
    display: inline;
    font-size: 14px;
    white-space: normal;
}

#DownloadLinks a:hover{
    background: #eee;
}

#DownloadLinks li{
    float: none;
    display: block;
}

ul {
    font-family: Arial, Verdana;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 14px;
    background: white;
}
li:hover li:hover a{
    background: #eee;
}

#UserMenu a{
    font-color: black;
    text-align: right;
    margin-right: 10px;
    margin-left: auto;
}

#UserInfo{
    margin-left:auto; 
    margin-right:0px;
    float:right;
    vertical-align: top;
}

#StationColumn{
    height: 500px;
    overflow: auto;
    margin-left: 10px;
}

#StationColumn a{
    font-size: 14px;
    white-space: normal;
}

#StationColumn a:hover{
    background: #ccc;
}

#StationList li{
    float: none;
    display: block;
}

#AddToBookshelf{
    text-align:center;
}

#AddToBookshelfButton{
    font-size: 16px;
    bottom: 50%;
}

#bottom-table{
    border-collapse: collapse; 
    width: 100%;
    margin-bottom: 5px;
}

#bottom-table td:nth-child(even) { 
    width: 450px;
    background: transparent;
    vertical-align: middle;
}

#bottom-table td:nth-child(odd) { 
    width: 450px;
    background: transparent;
}