extends ../layouts/modal

block title
  h2 Authenticate
block content
  .row
  
    .offset0.span7
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
//-      a(href="/auth/github")
//-        img(src="/img/icons/github.png")
//-      a(href="/auth/twitter")
//-        img(src="/img/icons/twitter.png")
//-      a(href="/auth/google")
//-        img(src="/img/icons/google.png")
