!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
	include ../includes/head
	body
		section.content
			section.container
				.row
					.modal-dialog(data-ng-controller="SearchController", ng-init="results_list=[]" style="margin:0;width:100%")
						.modal-content(style="")
							.modal-header
								button(type="button" class="close" ng-click="cancel()")
									&times;
								.modal-title
									h2 Find a Book
									p(data-ng-hide="global.authenticated").
										*To save your searches as shelves, please Sign In. 
									.row
										.col-lg-8.col-lg-offset-2
											.input-group(style="margin-right:auto;margin-left:auto;text-align:center")
												input(type="text" class="form-control" data-ng-model="title" placeholder='Search' required)
												.input-group-btn	
													button(class="btn btn-default" type="button" ng-click="classify(title)").
														Go!
							.modal-body
								.page-header
									h3(ng-show="results_list").
										Choose Your Book From the List Below
								.container()
									.row
										.col-lg-12
									ul(class = "list-group media-list" style="width:90%")
										li(ng-repeat="result in results_list", class="list-group-item media")
											#book-data.media
												a(href="", ng-show="google_stats[result.ocn]").pull-left
													img(src="{{google_stats[result.ocn].thumbnail_url}}" alt="book thumbnail" data="http://books.google.com/googlebooks/images/no_cover_thumb.gif").media-object
												.media-body(ng-init="failed={}")
													p	
														.page-header(ng-show="failed[result.swid]")
															h3(class="media-heading").
																Our Apologies
															small.
																We couldn't find any recommendations for this item
													p
														h4.media-heading Title
														span {{result.title}}
													p
														h4.media-heading Author
														span {{result.author}}
													p
														h4.media-heading Format
														span {{result.format}}
													p
														button( data-ng-controller="ShelvesController" class="btn btn-default navbar-btn" type="button" ng-click="create(result.title,result.swid);").
															This One!
		include ../includes/foot
